<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamproject.myteam01.mapper.AttachFileMapper">

	<!-- 록귀파트 -->
	<select id="getAllFiles" resultType="com.teamproject.myteam01.domain.AttachFileDTO" parameterType="String">
	<![CDATA[
		SELECT * FROM ATTACHFILES WHERE uno = #{uno}

	]]>
	</select>
	
	
	
	<!-- 윤정파트22 -->
	<insert id="insertAttachFile">
	    INSERT INTO teampj.ATTACHFILES (uuid, uploadPath, fileName, fileDelFlag, fileType, uno) 
	    VALUES (#{uuid}, #{uploadPath}, #{fileName}, DEFAULT, #{fileType}, #{uno})
	</insert>
	
	<select id="findByUuid" resultType="com.example.domain.AttachFileDTO">
        SELECT * FROM your_table WHERE uuid = #{uuid}
    </select>
	
	
</mapper>