<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamproject.myteam01.mapper.ChatMapper">

	<!-- 채팅기록불러오기 -->
	<select id="selectChatList" resultType="com.teamproject.myteam01.domain.ChatMessageDTO">
		select * from chatMessage where roomId = #{roomId} order by cno ASC
	</select>
	
	<!-- 채팅입력시DB저장 -->
	<insert id="insertChat">
		insert into chatMessage
		values(seq_cno.nextval, #{roomId}, #{username}, #{content}, DEFAULT)
	</insert>
	
	<!-- 채팅방목록조회 -->
	<select id="selectChatRoomList" resultType="com.teamproject.myteam01.domain.ChatRoomDTO">
		SELECT cr.roomId, cr.uno, cr.userId1, cr.userId2, r.FNAME AS title
		FROM chatroom cr 
		JOIN RESTAURANTS r ON cr.uno = r.UNO
		WHERE cr.userId1 = #{username}
	</select>
	
	<!-- RoomId로 게시글제목(채팅방제목) 가져오기 -->
	<select id="selectChatRoomTitle">
		SELECT r.FNAME
		FROM RESTAURANTS r
		JOIN CHATROOM cr ON r.UNO = cr.UNO
		WHERE cr.ROOMID = #{roomId}
	</select>
	
	
</mapper>