<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamproject.myteam01.mapper.EventMapper">




	<!-- 록귀 -->
	<select id="eventDetail" resultType="com.teamproject.myteam01.domain.EventVO" parameterType="String">
	<![CDATA[
		SELECT * FROM EVENT WHERE ENO = 1
	]]>
	</select>
	
	
	
	
	
	<!-- 희준 -->
	<!-- 목록조회 -->
	<select id="selectEventList" resultType="com.teamproject.myteam01.domain.EventVO">
			SELECT ENO, ENAME, EPERIOD, ECOST, EADDRESS, EPLACE, ESITE, EHOST, ECONTENT, UNO, EVIEWSCNT, ERATING, EXCOORD, EYCOORD
			FROM teampj.event
			ORDER BY ENO DESC
	</select>

	<!-- 행사 등록 -->
	<insert id="registerEvent" parameterType="com.teamproject.myteam01.domain.EventVO">
		<selectKey keyProperty="eno" order="BEFORE" resultType="Long">
			SELECT teampj.seq_event.nextval FROM dual
		</selectKey>
		
		INSERT INTO teampj.event
	
		VALUES (#{eno}, #{ename}, #{eperiod}, #{ecost}, #{eaddress}, #{eplace}, #{esite}, #{ehost}, #{econtent}, 
				DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT)
	</insert>

	<!-- 행사 조회 -->
	<select id="selectEvent" resultType="com.teamproject.myteam01.domain.EventVO">
		SELECT ENO, ENAME, EPERIOD, ECOST, EADDRESS, EPLACE, ESITE, EHOST, ECONTENT, UNO, EVIEWSCNT, ERATING, EXCOORD, EYCOORD
		FROM teampj.event
		WHERE eno = #{eno}
	</select>

	<!-- 행사 수정 -->
	<update id="updateEvent">
		UPDATE teampj.event
		SET ename = #{ename},
			eperiod = #{eperiod},
			ecost = #{ecost},
			eaddress = #{eaddress},
			eplace = #{eplace},
			esite = #{esite},
			ehost = #{ehost},
			econtent = #{econtent}
		WHERE eno = #{eno}
	</update>
	
	<!-- 행사 삭제 -->
	<delete id="delEvent">
		DELETE teampj.event
		WHERE eno = #{eno}
	</delete>
	
	<!-- 행사 조회수 증가 -->
	<update id="updateEviewsCnt">
		UPDATE teampj.event
		SET eviewsCnt = eviewsCnt +1
		WHERE eno = #{eno}
	</update>
	
	
</mapper>