<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamproject.myteam01.mapper.RestaurantMapper">


	<!-- UNO로 정보 조회 -->
	<select id="selectTitle" resultType="String">
		SELECT FNAME FROM RESTAURANTS WHERE UNO = #{uno}
	</select>
	<!--  식당 디테일  -->
	<select id="restaurantDetail" resultType="com.teamproject.myteam01.domain.RestaurantVO">
	<![CDATA[
		SELECT * FROM RESTAURANTS WHERE FNO = #{fno}
	]]>
	</select>
	<!--  식당리뷰조회  -->
	<select id="selectReviews" resultType="com.teamproject.myteam01.domain.RestaurantsReviewVO"> 
		SELECT * FROM restaurants_reviews WHERE FNO = #{fno} ORDER BY FRNO DESC 
	</select>
	<!--  식당리뷰등록  -->
	<insert id="registerReview" parameterType="com.teamproject.myteam01.domain.RestaurantsReviewVO"> 
		INSERT INTO restaurants_reviews 
		VALUES(seq_restaurants_reviews.nextval, #{frtitle}, #{frcontent}, #{frwriter}, DEFAULT, DEFAULT, #{frrating}, seq_uno.nextval, #{fno}) 
	</insert>

	<!--  식당리뷰삭제  -->
	<delete id="deleteReview"> DELETE RESTAURANTS_REVIEWS WHERE FRNO = #{frno} </delete>
	
	
	<!-- 윤정 파트 --> 
	<insert id="insertRestaurant" >
      <selectKey keyProperty="fno,uno" order="BEFORE" resultType="com.teamproject.myteam01.domain.RestaurantVO">
          SELECT teampj.SEQ_RESTAURANTS.nextval AS fno, teampj.SEQ_UNO.nextval AS uno FROM DUAL
       </selectKey>
       INSERT INTO teampj.RESTAURANTS(fno,fcategory,fname,faddress,uno,fviewscnt,frating,fxcoord,fycoord,ftype)
      VALUES (#{fno}, #{fcategory},#{fname}, #{faddress}, #{uno},DEFAULT,#{frating},#{fxcoord}, #{fycoord},#{ftype})
   </insert>
   
   <!-- <select id="selectRestList" resultType="com.teamproject.myteam01.domain.RestaurantVO">
        SELECT FNO, FCATEGORY, FNAME, FADDRESS, UNO, FVIEWSCNT, FRATING, FXCOORD, FYCOORD, FTYPE
		FROM teampj.RESTAURANTS ORDER BY FNO DESC
    </select> -->
    
    <select id="selectRestList" resultType="com.teamproject.myteam01.domain.RestaurantVO">
    	SELECT FNO, FCATEGORY, FNAME, FADDRESS, UNO, FVIEWSCNT, FRATING, FXCOORD, FYCOORD, FTYPE
		FROM teampj.RESTAURANTS
		ORDER BY FNO DESC
		OFFSET #{offset} ROWS
		FETCH NEXT #{pageSize} ROWS ONLY
    </select>
    
    <update id="updaterestreview">
	    UPDATE restaurants_reviews 
	    SET FRTITLE = #{frtitle},
	        FRCONTENT = #{frcontent},
	        FRMODDATE = DEFAULT
	    WHERE frno = #{frno}
	</update>
	
	<select id="selectRestListByGuName" parameterType="RestaurantVO" resultType="com.teamproject.myteam01.domain.RestaurantVO">
	    SELECT *
	    FROM restaurant
	    WHERE faddress LIKE CONCAT('%', #{guName}, '%')
	    LIMIT #{offset}, #{pageSize}
	</select>



   
   <!-- 영범  -->
	<select id="selectMoreReviews" resultType="com.teamproject.myteam01.domain.RestaurantsReviewVO">
		SELECT *
		FROM (
		    SELECT restaurants_reviews.*, 
		           ROW_NUMBER() OVER (ORDER BY FRNO DESC) AS rn
		    FROM restaurants_reviews
		    WHERE fno = #{fno}
		) subquery
		WHERE rn BETWEEN #{offset} + 1 AND #{offset} + #{pageSize}
	</select>
	<select id="selectReviewsForStar" resultType="Long"> 
		SELECT FRRATING FROM restaurants_reviews WHERE FNO = #{fno} ORDER BY FRNO DESC 
	</select>
	

	
</mapper>