<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamproject.myteam01.mapper.UserMapper">

<!-- <resultMap id="userResultMap" type="com.teamproject.myteam01.domain.UserVO">
    <result property="userNo" column="USERNO"/>
    <result property="userId" column="USERID"/>
    <result property="userName" column="USERNAME"/>
    <result property="userGender" column="USERGENDER"/>
    <result property="userAddress" column="USERADDRESS"/>
    <result property="userType" column="USERTYPE"/>
    <result property="lastLoginDate" column="LASTLOGINDATE"/>
    <result property="accountStatus" column="ACCOUNT_STATUS"/>
    <result property="roles" column="ROLES"/> roles를 String으로 매핑
</resultMap> -->

	<!-- 유저리스트 조회 -->
 	<select id="selectUserList" resultType="com.teamproject.myteam01.domain.UserVO">
		SELECT u.USERNO, u.USERID, u.USERNAME, u.USERGENDER, 
			   u.USERADDRESS, u.USERTYPE, u.LASTLOGINDATE, u.ACCOUNT_STATUS,
		LISTAGG(r.ROLE_NAME, ', ') WITHIN GROUP (ORDER BY r.ROLE_NAME) AS roles
		FROM USERS u
		JOIN USER_ROLES ur ON u.USERID = ur.USERID
		JOIN ROLES r ON ur.ROLE_ID = r.ROLE_ID
		GROUP BY u.USERNO, u.USERID, u.USERNAME, u.USERGENDER, 
			   u.USERADDRESS, u.USERTYPE, u.LASTLOGINDATE, u.ACCOUNT_STATUS 
		ORDER BY u.USERNO DESC
	</select>
	<!-- <select id="selectUserList" resultType="String">
		SELECT USERID
		FROM USERS
		ORDER BY USERNO DESC
	</select> -->
	
    <!-- 사용자 등록 -->
    <insert id="insertUser" parameterType="com.teamproject.myteam01.domain.UserVO">
        <selectKey keyProperty="userNo" order="BEFORE" resultType="Long">
            SELECT teampj.seq_users.nextval FROM dual
        </selectKey>
        INSERT INTO users (userNo, userId, userPw, userName, userGender, userCall, userAddress, userEmail, userType, joinDate)
        VALUES (#{userNo}, #{userId}, #{userPw}, #{userName}, #{userGender}, #{userCall}, #{userAddress}, #{userEmail}, #{userType}, SYSDATE)
    </insert>

    <!-- 사용자 역할 등록 -->
    <insert id="insertUserRole" flushCache="true">
        INSERT INTO user_roles (userId, role_id)
        VALUES (
            #{userId},
            (SELECT role_id FROM roles WHERE role_name = #{roleName})
        )
    </insert>

    <!-- 사용자명으로 사용자 정보 조회 -->
    <select id="findByUsername" parameterType="String" resultType="com.teamproject.myteam01.domain.UserVO">
	    SELECT userNo, userId, userPw, userName, userGender, userCall, userAddress, userEmail, userType, joinDate, lastLoginDate, account_status
	    FROM users
	    WHERE userId = #{userId}
	</select>

    <!-- 사용자 ID로 역할 조회 -->
    <select id="findRolesByUserId" resultType="String">
        SELECT r.ROLE_NAME
        FROM ROLES r
        JOIN USER_ROLES ur ON r.ROLE_ID = ur.ROLE_ID
        WHERE ur.USERID = #{userId}
    </select>

    <!-- 마지막 로그인 날짜 업데이트 -->
    <update id="updateLastLoginDate" parameterType="com.teamproject.myteam01.domain.UserVO">
        UPDATE users
        SET lastLoginDate = CURRENT_TIMESTAMP
        WHERE userId = #{userId}
    </update>

    <!-- 사용자 정보 업데이트 -->
    <update id="updateUser" parameterType="com.teamproject.myteam01.domain.UserVO">
        UPDATE users
        SET userPw = #{userPw},
            userName = #{userName},
            userGender = #{userGender},
            userCall = #{userCall},
            userAddress = #{userAddress},
            userEmail = #{userEmail},
            userType = #{userType},
            ACCOUNT_STATUS = #{accountStatus}
        WHERE userId = #{userId}
    </update>
    
    <update id="updateUserPassword" parameterType="com.teamproject.myteam01.domain.UserVO">
	    UPDATE users
	    SET userPw = #{userPw}
	    WHERE userId = #{userId}
	</update>


    <!-- 사용자 삭제 -->
    <delete id="deleteUser" parameterType="String">
        DELETE FROM users WHERE userId = #{userId}
    </delete>
    
    <select id="findUserRoleId" parameterType="String" resultType="Integer">
	    SELECT role_id
	    FROM user_roles
	    WHERE userId = #{userId}
	</select>
    

    <!-- 회원 탈퇴 기능: ACCOUNT_STATUS를 1로 업데이트 -->
    <update id="updateAccountStatus" parameterType="map">
        UPDATE USERS
        SET ACCOUNT_STATUS = #{accountStatus}
        WHERE USERID = #{userId}
    </update>

	<!-- 영범 -->
	<!-- 성별 통계 -->
	<select id="userGenderCount" resultType="com.teamproject.myteam01.domain.UserVO">
		SELECT userGender from users
	</select>
	<!-- 가입시 activㅑty에 추가 -->
	<insert id="userRegisterActivity" parameterType="com.teamproject.myteam01.domain.UserVO">
		INSERT INTO USER_ACTIVITY 
		VALUES(#{userId} , DEFAULT , '신규회원')
	</insert>
	<!-- 로그인시 db에 값 넣기 -->
	<delete id="deleteUserActivity">
	    DELETE FROM user_activity WHERE ACTIVITY = '현재로그인'
	</delete>
	<insert id="userIdInsert" parameterType="String">
		INSERT INTO user_activity (USER_ID, ACCESS_TIME, ACTIVITY) VALUES (#{userId}, SYSTIMESTAMP, '현재로그인')
	</insert>
	<!-- 추천목록 가져오기 -->
	<select id="selectRecommend" resultType="com.teamproject.myteam01.domain.UserActivityVO">
		SELECT * FROM USER_RECOMMENDATIONS WHERE USERID = #{userId}
	</select>
</mapper>
